data_preprocessing/data/*.csv filter=lfs diff=lfs merge=lfs -text
archive/runs_old/*.tar.gz filter=lfs diff=lfs merge=lfs -text
archive/**/model_checkpoints/*.ckpt filter=lfs diff=lfs merge=lfs -text
scalers/*.pkl filter=lfs diff=lfs merge=lfs -text
data_preprocessing/*.csv filter=lfs diff=lfs merge=lfs -text
